html, body {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1;
    padding-top: 100px;
    margin-bottom: 1000px;
}

.wrapper{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container-satu {
    
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container-dua {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.button {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
}

.button.lima{
    margin-bottom: 0;
}

.button.enam{
    margin-top: 0px;
    padding-top: 15px;
}

.btn{
    cursor: pointer;
    width: auto;
    margin: 0 auto;
    padding-top: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn:focus-within{
    background: rgb(177, 177, 177);
}

.container-tiga {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.container-tabel{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 90%;
    padding: 10px 20px;
}

.tabel-ph{
    margin-left: 1%;
    margin-bottom: 10px;
}

.top {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}

.top-left{
    flex:1;
    order: 1;
}

.top-right{
    flex:2;
    order: 2;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.bottom{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
}

.bottom-screen3{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
}

.button-bottom{
    padding-top: 10px;
}

.child-left{
    border-right: 5px solid black;
    width: 300px;
    padding: 10px 20px;
}
.child-left2{
    border-right: 5px solid black;
    width:175px;
    padding: 10px 20px;
}
.child-right{
    padding: 10px 20px;
}
.child-right2{
    padding: 10px 20px;
}

#blank-1{
    width: 40px;
    border-radius: 25%;
    border-width: 1px;
}
#blank-2{
    width: 40px;
    border-radius: 25%;
    border-width: 1px;
}
#blank-3{
    width: 40px;
    border-radius: 25%;
    border-width: 1px;
}
#blank-4{
    width: 40px;
    border-radius: 25%;
    border-width: 1px;
}
#blank-5{
    width: 40px;
    border-radius: 25%;
    border-width: 1px;
}

.btn.back{
    margin: 5px;
}

.btn.next2{
    margin: 5px;
}


@media( min-width: 600px){
    .container-dua {
        display: flex;
        justify-content: center;
    }

    .btn{
        padding: 5px 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn.ph4 {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .btn.ph8 {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .btn.next{
        width: 150%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /* .button.enam {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    } */

    .container-tiga{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin: 0 auto;
    }

    .top{
        display: flex;
        align-items: center;
    }

    .bottom{
        display: flex;
    }

    .bottom-screen3{
        display: flex;
    }

    .button-bottom{
        display : flex;
        justify-content: center;
    }

    .btn.back{
        width: 60px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .btn.next2{
        
        width: 60px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }